[user]
	name = dodong471520
	email = 1012131075@qq.com
[core]
	autocrlf = input
	excludesfile = /root/.gitignore
[credential]
	helper = store
[diff]
	tool = vimdiff
[difftool]
	prompt = false
; [http]
    ; proxy = socks5://192.168.1.5:1080
; [https]
    ; proxy = socks5://192.168.1.5:1080
; [http]
    ; proxy = socks5://192.168.1.106:1080
; [https]
    ; proxy = socks5://192.168.1.106:1080
